/* Por defecto */
:root{
  --fuente:"Inter", sans-serif;
  --background: #DBF8FC;
  --dark-gray: #f6f6f6;
  --dark-blue:#0A3871;
  --white:#fff;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background-color: var(--background);
  font-family: var(--fuente);
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuente);
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

.boton{
  display: block;
  font-family: var(--fuente);
  text-align: center;
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1.5rem;
  width: 100%;
  font-size: 1.7rem;
}

.boton:hover{
  cursor: pointer;
}

.campo{
  margin-bottom: 2rem;
  
}

.campo textarea{
  overflow: hidden; 
  border: none;
  width: 100%;
  background-color: transparent;
  display: block;
  padding: 0rem 1rem;
  font-size: 2.5rem;
  min-height: 25rem;
  resize: none;
  color: var(--dark-blue);
}

textarea::placeholder{
  margin-bottom: 1rem;
  color: var(--dark-blue);
  font-size: 2.5rem;
}

textarea:focus{
  outline: none;
  border: none;
}

.sombra{
  -webkit-box-shadow: 5px 12px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 12px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 12px 14px -2px rgba(0,0,0,0.75);
}

/* Barra */
.nav{
  margin: 2rem 3rem;
}

.nav h1 {
  color: #8f96a3;
}

/*Main*/
@media (min-width: 1024px){
  main{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
  }
    
}

/* Formulario */
.formulario{
  margin: 0rem auto;
  width: 95%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.alerta::before{
  content: "🛈 Solo letras minusculas y sin acento";
  font-size: 1.3rem;
}

.botones{
  display: inline-block;
}

@media (min-width: 768px){
    .botones{
      display: flex;
      justify-content: space-between;
      column-gap: 4rem;
    }
}

.desencriptador{
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;  
  text-align: center;
  margin: 0 3rem;
}

.desencriptador img {
  display: none;
}

@media (min-width: 1024px){

  .desencriptador{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 85%;
  }
    .desencriptador img{
      display: block;
      width: 80%;
    }
}

.desencriptador p {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.btn-encriptar,.btn-desencriptar:hover{
  background-color: var(--dark-blue);
  color: var(--white);
  transition: background-color 0.5s ease; 
}

.btn-encriptar:hover,.btn-desencriptar{
  background-color: transparent;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  transition: background-color 0.5s ease; 
}

/*Resultado*/
.resultado__pc{
  display: none;
}

@media (min-width: 1024px){
    
}